<strong>Buscar personas por nombres y/o apellidos</strong><br />
<input id="textobusca" name="textobusca" size="30" value = "<%= @cadena %>" type="text" />
¿Búsqueda flexible? <input type=checkbox  name="flexi" value="T">
