<% for column in Vive.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vive.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @vive %> |
<%= link_to 'Back', :action => 'list' %>
